{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if error %}
        <h1>{{error}}</h1>
    {% endif %}
    <form action="{% url 'encyclopedia:newForm' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>New Entry</legend>
            <label for="title">Title:</label>
            <input type="text" name="title" required placeholder="Title"><br>
            <label for="description">Description:</label><br>
            <textarea type="text" name="description" required placeholder="Description" rows="4" cols="50"></textarea><br>
            <input type="submit">
        </fieldset>
    </form>
{% endblock %}